<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bisch.csgo_smokes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CSGO_smokes"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="HOME_Map">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mirage"
            android:label="@string/title_activity_mirage" />
        <activity
            android:name=".dust2"
            android:label="@string/dust2" />
        <activity
            android:name=".cache"
            android:label="@string/cache" />
        <activity android:name=".mirage_sitea_act"></activity>
    </application>

</manifest>