<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bisch.csgo_smokes">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CSGO_smokes"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="HOME_Map">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mirage.mirage"
            android:label="@string/title_activity_mirage" />
        <activity
            android:name=".dust2.dust2"
            android:label="@string/dust2" />
        <activity
            android:name=".cache.cache"
            android:label="@string/cache" />
        <activity android:name=".mirage.mirage_sitea_stairs.mirage_sitea_stairs" />
        <activity android:name=".mirage.mirage_sitea_con_jun" />
        <activity android:name=".mirage.mirage_sitea_ct.mirage_sitea_ct" />
        <activity android:name=".mirage.mirage_mid_cat" />
        <activity android:name=".mirage.mirage_mid_window_t_spawn" />
        <activity android:name=".mirage.mirage_mid_window_b_apps" />
        <activity android:name=".mirage.mirage_mid_connector_b_apps" />
        <activity android:name=".mirage.mirage_siteb_bench" />
        <activity android:name=".mirage.mirage_siteb_under_balc" />
        <activity android:name=".mirage.mirage_siteb_market_window" />
        <activity android:name=".mirage.mirage_siteb_short_cat" />
    </application>

</manifest>